* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bookman, serif;
}

/*SingIn and Register*/
.box {
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
    margin: auto auto;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

.box h2 {
    margin: 0 0 30px 0;
    padding: 0;
    color: #fff;
    text-align: center;
}

.box .inputBox label {
    color: #fff;
}

.box .inputBox input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    outline: none;
    padding: 10px 0;
    width: 100%;
}

.box input[type="submit"], .box button[type="submit"], a.button {
    font-family: sans-serif;
    background: #03a9f4;
    font-size: 11px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 20px;
    letter-spacing: 2px;
    outline: none;
    text-transform: uppercase;
    text-decoration: none;
    margin: 2px 10px 2px 0;
    display: inline-block;
}

.box input[type="submit"]:hover, .box button[type="submit"]:hover, a.button:hover {
    opacity: 0.8;
}

.login {
    color: #a0a0a0;
    border-bottom: #a0a0a0;
    padding-top: 15px;
    text-align: center;
}

.signup {
    color: #a0a0a0;
    border-bottom: #a0a0a0;
    padding-top: 15px;
    text-align: center;
}

.video {
    width: 100px;
    height: 100px;
}

/*Default backgrund and div*/
.background {
    margin: auto;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    animation: change 20s infinite forwards;
}

.main {
    margin: auto;
    width: 70%;
    height: 90vh;
    /*padding: 10px;*/
    background: white;
    border-radius: 8px;
    overflow-y: auto;
}

.background-signin {
    margin: auto;
    width: 100%;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    /*background-attachment: fixed;*/
    animation: change 20s infinite forwards;
}

@keyframes change {
    0% {
        background-image: url("images/background.jpg");
    }
    20% {
        background-image: url("images/background2.jpg");
    }
    40% {
        background-image: url("images/background3.jpg");
    }
    60% {
        background-image: url("images/background6.jpg");
    }
    80% {
        background-image: url("images/background5.jpg");
    }
}

/*Add events*/
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(0, 212, 212);
}

input[type=time] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.inputBox[type=file] {
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: #a0a0a0;
}

input[type=img] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*hover*/
input[type=submit]:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

/*focus*/
/*input[type=text]:focus {*/
/*    border: 3px solid #555;*/
/*    width: 100%;*/
/*}*/

.category {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/*SIDEBAR*/
.sidebar {
    height: 100%;
    width: 250px;
    background-color: #2F4050;
}

/*Manage activities*/
table {
    width: 100%;
}

th {
    background-color: rgb(0, 212, 212);
    /*font-size: 14px;*/
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    border-radius: 7px;
    letter-spacing: 0.03em;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

td {
    padding: 7px;
    border-radius: 10px;
}

tr {
    text-align: center;
}

/*:nth-child(-n+6)*/
td {
    position: relative;
    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*background-color: rgb(221, 221, 221);*/
}

/*REGISTER PHOTO*/
.video {
    width: 360px;
    height: 270px;
    border: #1b1919 solid;
    align-content: center;
    display: flex;
}

.required {
    color: crimson;
}

.linkButton {
    text-decoration-color: rgba(3, 169, 244, 0.62);
    cursor: pointer;
}

/*SEE EVENTS*/
.activities {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    width: 300px;
    height: 310px;
    display: inline-block;
    margin: 10px 10px;
    border-radius: 8px;
}

.activityImg {
    width: 290px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 5px;
}

.actTitle1 {
    text-align: center;
}

.actTitle2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

.actColumn1 {
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/
    text-align: center;
    margin-top: 15px;
}

.actColumn2 {
    /*margin-right: 30px;*/
    /*margin-left: 30px;*/
    text-align: left;
    margin-top: 15px;
}

.actLink {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(0, 212, 212);
    text-decoration-color: rgb(0, 212, 212);
}

.actLink2 {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(0, 212, 212);
    text-decoration-color: rgb(0, 212, 212);
    cursor: pointer;
}

.pastActivities .actLink2 {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(0, 212, 212);
    text-decoration-color: rgb(0, 212, 212);
    cursor: pointer;
}

.actLink3 {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
    text-decoration-color: #f1f1f1;
    background-color: #f1f1f1;
}

.actLink2:hover {
    text-decoration-color: #f1f1f1;
    background-color: #f1f1f1;
}

.actLink:hover {
    text-decoration-color: #f1f1f1;
    background-color: #f1f1f1;
}

.noEvents {
    margin-left: 10px;
    margin-right: 10px;
}

.noEventsImg {
    width: 512px;
    height: 512px;
    background-image: url("images/lupa.png");
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.2;
}

.noEventsMessage {
    text-align: center;
    color: rgba(0, 0, 0, 0.26);
}

.searchDetailsAll {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    width: 100%;
    height: 137%;
    display: inline-block;
    margin: auto;
    border-radius: 8px;
    /*padding-bottom: 10px;*/
}

/*ACTIVITY DETAILS*/
.activityDetailsAll {
    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    width: 100%;
    height: 137%;
    display: inline-block;
    margin: auto;
    border-radius: 8px;
    /*padding-bottom: 10px;*/
}

.activityDetailsImg {
    width: 340px;
    height: 220px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 15px;
}

.pastActivities .activityDetailsImg2 {
    width: 330px;
    height: 220px;
    box-sizing: border-box;
    border-radius: 8px;
    /*margin: 15px;*/
}

.activityDetailsImg2 {
    width: 340px;
    height: 220px;
    box-sizing: border-box;
    border-radius: 8px;
    margin: 15px;
}

.actDetailsColumn {
    display: flex;
}

.actDetailsTitle1 {
    text-align: center;
}

.actDetailsTitle2 {
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 15px;
}

.actDetailsTitle3 {
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-top: 10px;
}

.actDetailsTitle4 {
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 20px;
}

.text {
    width: 100%;
    height: 100%;
    /*-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    /*box-shadow: 0 1px 4px rgba(0, 72, 255, 0.89), 0 0 40px rgba(0, 0, 0, 0.1) inset;*/
    display: inline-block;
    padding: 15px 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.activityMap {
    padding: 10px 15px 20px;
}

.searchPhoto {
    width: 340px;
    height: 340px;
    border-radius: 8px;
}

/*ACTIVITY DETAILS*/
.pastActivities {
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    width: 100%;
    /*height: 380px;*/
    display: inline-block;
    border-radius: 8px;
    margin: auto auto 10px;
}

.stars {
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.stars2 {
    font-size: 30px;
    margin-right: 10px;
}

.topNumber {
    justify-content: center;
    transform: translateY(23%);
    opacity: 0.3;
    font-size: 130px;
    padding-left: 60px;
    padding-right: 60px;
    align-content: center;
}

.deleteEvent {
    color: crimson;
    border: #1b1919;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    border-radius: 100px;
}

.deleteEvent:hover {
    color: #a0a0a0;
    cursor: pointer;
}

.info {
    padding-bottom: 25px;
    color: white;
}

